{% extends 'base.html' %}
{% load static %}
{% block 'titulo' %}Blog - Artigo{% endblock 'titulo' %}

{% block 'background-image'%}
    {% if art.imagem %}
        {{art.imagem.url}}
    {% else %}
        '/static/img/post-sample-image.jpg'
    {% endif %}
{% endblock 'background-image' %}


{% block 'titulo-banner'%}{{art.titulo}}{% endblock 'titulo-banner' %}
{% block 'subtitulo-banner'%}{{art.autor}}{% endblock 'subtitulo-banner' %}

{% block 'conteudo' %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<div class="post-entry">
    <h2>{{art.titulo}}</h2>
    <p>{{art.conteudo|safe}}</p>
</div>

{% if request.user.is_authenticated and user.is_superuser%}
<div class="card">
    <div class="card-body">
        <a href="{{art.get_absolute_url_update}}" class="btn btn-primary">Editar</a>
        <a href="{% url 'deletar_art' art.slug %}" class="btn btn-danger">Deletar</a>
    </div>
{% endif %}
</div>

{% endblock 'conteudo' %}